Repository pknu-wap/WAP-OR, pull requests merged in 2024-11, with the labels that each got.

#17 Feature/#15/이메일 로그인 연동, 카카오 로그인 연동
  client/.idea/workspace.xml
  client/app/build.gradle.kts
  client/app/src/main/AndroidManifest.xml
  client/app/src/main/java/com/example/wap_or/LoginActivity.kt
  client/app/src/main/java/data/LoginRequest.kt
  client/app/src/main/java/data/LoginResponse.kt
  client/app/src/main/java/data/Post.kt
  client/app/src/main/java/data/TokenRequest.kt
  client/app/src/main/res/layout/activity_login.xml
  client/app/src/main/res/xml/network_security_config.xml
  client/settings.gradle.kts
Labels: Client, ✨강민✨, Feature

#20 Feature/#19/email verification
  server/build.gradle
  server/src/main/java/com/wap/wapor/config/EmailConfig.java
  server/src/main/java/com/wap/wapor/controller/EmailController.java
  server/src/main/java/com/wap/wapor/controller/UserController.java
  server/src/main/java/com/wap/wapor/dto/EmailCheck.java
  server/src/main/java/com/wap/wapor/service/EmailSendService.java
  server/src/main/java/com/wap/wapor/service/UserService.java
  server/src/main/resources/application.properties
Labels: 🌊도현🌊, Server, Feature, 👀리뷰해주세요👀

#23 Feature/#18/카카오 로그인 연동 성공
  client/.idea/deploymentTargetSelector.xml
  client/.idea/workspace.xml
  client/app/src/main/AndroidManifest.xml
  client/app/src/main/java/com/example/wap_or/LoginActivity.kt
  client/app/src/main/java/data/TokenErrorResponse.kt
  client/app/src/main/java/data/TokenSuccessResponse.kt
  client/app/src/main/res/xml/network_security_config.xml
  client/build.gradle.kts
Labels: Client, ✨강민✨, Feature

#24 Feature/#21/email exception handling
  server/src/main/java/com/wap/wapor/controller/EmailController.java
  server/src/main/java/com/wap/wapor/exception/AuthCodeMismatchException.java
  server/src/main/java/com/wap/wapor/exception/CustomMailSendException.java
  server/src/main/java/com/wap/wapor/exception/EmailValidationException.java
  server/src/main/java/com/wap/wapor/exception/GlobalExceptionHandler.java
  server/src/main/java/com/wap/wapor/service/EmailSendService.java
Labels: 🌊도현🌊, Feature, Bug, 👀리뷰해주세요👀

#29 Feature/#26/redis auth code storage
  server/.gitignore
  server/build.gradle
  server/src/main/java/com/wap/wapor/controller/EmailController.java
  server/src/main/java/com/wap/wapor/dto/EmailCheck.java
  server/src/main/java/com/wap/wapor/dto/EmailSignUpRequest.java
  server/src/main/java/com/wap/wapor/exception/AuthCodeExpiredException.java
  server/src/main/java/com/wap/wapor/exception/EmailNotFoundException.java
  server/src/main/java/com/wap/wapor/exception/GlobalExceptionHandler.java
  server/src/main/java/com/wap/wapor/exception/RedisConnectionException.java
  server/src/main/java/com/wap/wapor/service/EmailSendService.java
  server/src/main/java/com/wap/wapor/util/RedisUtil.java
  server/src/main/resources/application.properties
Labels: 🌊도현🌊, Server, Feature

#32 Feature/#28/jwt token provider
  server/build.gradle
  server/src/main/java/com/wap/wapor/config/JwtAuthenticationFilter.java
  server/src/main/java/com/wap/wapor/config/SecurityConfig.java
  server/src/main/java/com/wap/wapor/controller/KakaoAuthController.java
  server/src/main/java/com/wap/wapor/dto/AuthResponse.java
  server/src/main/java/com/wap/wapor/security/JwtTokenProvider.java
  server/src/main/java/com/wap/wapor/security/UserPrincipal.java
  server/src/main/java/com/wap/wapor/service/KakaoAuthService.java
  server/src/main/resources/application.properties
Labels: 🎀동현🎀, Feature

#31 Feature/#30/email sign up
  server/build.gradle
  server/src/main/java/com/wap/wapor/config/SecurityConfig.java
  server/src/main/java/com/wap/wapor/controller/EmailController.java
  server/src/main/java/com/wap/wapor/controller/UserController.java
  server/src/main/java/com/wap/wapor/dto/EmailSignUpRequest.java
  server/src/main/java/com/wap/wapor/exception/EmailNotVerifiedException.java
  server/src/main/java/com/wap/wapor/exception/GlobalExceptionHandler.java
  server/src/main/java/com/wap/wapor/exception/InvalidCredentialsException.java
  server/src/main/java/com/wap/wapor/exception/InvalidPasswordException.java
  server/src/main/java/com/wap/wapor/exception/UserAlreadyExistsException.java
  server/src/main/java/com/wap/wapor/repository/UserRepository.java
  server/src/main/java/com/wap/wapor/service/UserService.java
Labels: 🌊도현🌊, Server, Feature

#36 Feature/#33/virtual account
  server/src/main/java/com/wap/wapor/config/SecurityConfig.java
  server/src/main/java/com/wap/wapor/controller/VirtualAccountController.java
  server/src/main/java/com/wap/wapor/domain/Likes.java
  server/src/main/java/com/wap/wapor/domain/PayLog.java
  server/src/main/java/com/wap/wapor/domain/Transaction.java
  server/src/main/java/com/wap/wapor/domain/TransactionType.java
  server/src/main/java/com/wap/wapor/domain/User.java
  server/src/main/java/com/wap/wapor/domain/VirtualAccount.java
  server/src/main/java/com/wap/wapor/dto/DepositRequest.java
  server/src/main/java/com/wap/wapor/repository/TransactionRepository.java
  server/src/main/java/com/wap/wapor/repository/UserRepository.java
  server/src/main/java/com/wap/wapor/repository/VirtualAccountRepository.java
  server/src/main/java/com/wap/wapor/service/UserService.java
  server/src/main/java/com/wap/wapor/service/VirtualAccountService.java
Labels: 🌊도현🌊, Server, Feature

#42 Feature/#41/virtual account check
  server/src/main/java/com/wap/wapor/controller/PayLogController.java
  server/src/main/java/com/wap/wapor/controller/TransactionController.java
  server/src/main/java/com/wap/wapor/controller/VirtualAccountController.java
  server/src/main/java/com/wap/wapor/domain/Transaction.java
  server/src/main/java/com/wap/wapor/dto/DepositRequest.java
  server/src/main/java/com/wap/wapor/dto/DepositResponse.java
  server/src/main/java/com/wap/wapor/dto/PayLogResponse.java
  server/src/main/java/com/wap/wapor/dto/PostPayLogDto.java
  server/src/main/java/com/wap/wapor/dto/TransactionResponse.java
  server/src/main/java/com/wap/wapor/repository/TransactionRepository.java
  server/src/main/java/com/wap/wapor/service/PayLogService.java
  server/src/main/java/com/wap/wapor/service/VirtualAccountService.java
Labels: 🌊도현🌊, Server, Feature

#43 Feature/#35/paylog search delete
  server/gradle/gradle.properties
  server/src/main/java/com/wap/wapor/controller/PayLogController.java
  server/src/main/java/com/wap/wapor/domain/PayLog.java
  server/src/main/java/com/wap/wapor/dto/GetPayLogDto.java
  server/src/main/java/com/wap/wapor/dto/PostPayLogDto.java
  server/src/main/java/com/wap/wapor/repository/PayLogRepository.java
  server/src/main/java/com/wap/wapor/service/PayLogService.java
  server/src/main/resources/application.properties
Labels: Server, 🎀동현🎀, Feature

#45 Feature/#44/like api
  server/.gitignore
  server/build.gradle
  server/src/main/java/com/wap/wapor/config/GCPConfig.java
  server/src/main/java/com/wap/wapor/controller/PayLogController.java
  server/src/main/java/com/wap/wapor/dto/PostPayLogDto.java
  server/src/main/java/com/wap/wapor/service/GCSFileUploadService.java
  server/src/main/java/com/wap/wapor/service/KakaoAuthService.java
  server/src/main/java/com/wap/wapor/service/PayLogService.java
  server/src/main/resources/application.properties
Labels: Server, 🎀동현🎀
